name: Playwright Tests
on:
  workflow_dispatch:
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm install
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Install Allure commandline
        run: npm install -D allure-commandline
      - name: Run Playwright tests
        run: npm run test:headless
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: report/
          retention-days: 2
      # - name: Run Allure Action
      #   uses: allure-framework/allure-report@v0
      #   with:
      #     # Path to the generated report directory
      #     # By default, it's set to `./allure-report`
      #     report-directory: "./"
